<div class="row head">
	<div class="tab tab-40">Nazwa użytkownika</div>
	<div class="tab tab-15">Ostatni login</div>
	<div class="tab tab-15">Rejestracja</div>
	<div class="tab tab-15">Szczegóły</div>
</div>
{% for user in users %}
	<div class="row a-users-list-tab">
		<div class="tab tab-40 a-users-list-username">
			{{ include('_profilePhoto.html.twig', {
                    ppClass: 'a-users-list-photo',
                    ppUser: user
                }) }}
			{{ user.username }}
		</div>
		<div class="tab tab-15">
			{% if user.lastLogin is not null %}
				{{ user.lastLogin|date("d-m-Y H:i") }}
			{% else %}
				-
			{% endif %}
		</div>
		<div class="tab tab-15">{{ user.registered|date("d-m-Y H:i") }}</div>
		<div class="tab tab-15">
			<a href="#" class="a-users-list-details">
				<i class="fas fa-user-edit"></i>
			</a>
		</div>
	</div>
{% endfor %}
