{% extends 'administration/layout.html.twig' %}

{% block title %}Użytkownicy
{% endblock %}

{% block aBreadcrumbs %}
	<a href="{{ path('administration_users') }}" class="a-breadcrumb">Użytkownicy</a>
{% endblock %}

{% block aTitle %}Użytkownicy
{% endblock %}

{% block aContent %}
	<div class="a-users-table-content"></div>
{% endblock %}

{% block aActions %}
	<p class="a-action-header">Wyszukaj użytkownika</p>
	<input placeholder="Wyszukaj użytkownika" class="a-action-input mb-30 a-users-filters-username"/>
	<p class="a-action-header">Sortowanie</p>
	{# ETODO: Code custom looking selects #}
	<div class="a-action-sort-container mb-30">
		<select class="a-action-sort-field a-users-filters-sort-field">
			<option data-value="username">Nazwa użytkownika</option>
			<option data-value="lastLogin">Ostatni login</option>
			<option data-value="registered">Rejestracja</option>
		</select>
		<select class="a-action-sort-order a-users-filters-sort-order">
			<option data-value="ASC">Rosnąco</option>
			<option data-value="DESC">Malejąco</option>
		</select>
	</div>
	<p class="a-action-header">Wyników na stronę</p>
	<div class="a-action-buttons mb-30 a-users-filters-amount">
		<button class="a-action-button a-action-button-3 active" data-amount="10">10</button>
		<button class="a-action-button a-action-button-3" data-amount="25">25</button>
		<button class="a-action-button a-action-button-3" data-amount="50">50</button>
	</div>
	<button class="a-action-confirm a-users-filters-confirm">Zastosuj filtry</button>
{% endblock %}

{% block aJavascripts %}
	<script>
		const getUsersPath = "{{ path('administration_users_entries') }}";
	</script>
	<script src="{{ asset('js/administration/users/users.js') }}"></script>
{% endblock %}
