<a class="header-logo" href="#">OneTrickLeague</a>
<nav class="header-navigation layout-block">
	<a href="#" class="header-link header-small">
		<i class="fas fa-home"></i>
		<span>Strona główna</span>
	</a>
	<a href="#" class="header-link header-small">
		<i class="fas fa-question"></i>
		<span>O co chodzi?</span>
	</a>
	<a href="#" class="header-link header-big">
		<i class="fas fa-play"></i>
		<span>Graj</span>
	</a>
	<a class="header-link header-placeholder"></a>
	<a href="#" class="header-link header-small">
		<i class="fas fa-sign-in-alt"></i>
		<span>Zaloguj się</span>
	</a>
</nav>
