body {
  overflow: hidden;
}
.layout-header,
.layout-footer {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px #000, 0 0 20px #000;
}
.layout-header-main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-blue;
  height: 60px;
  color: #fff;
}
.layout-header-site-navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
.layout-header-logo {
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}
.layout-header-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.2s;
  width: 100px;

  i {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: $dark-blue-hover;
  }
  &.layout-header-login {
    background-color: $light-pink;
    &:hover {
      background-color: $light-pink-hover;
    }
  }
}
.layout-main {
  width: 100%;
  height: calc(100vh - 105px);
  text-shadow: 0 0 5px #000, 0 0 15px #000;
  color: #fff;
  text-align: center;
}
.layout-footer {
  width: 100%;
  height: 45px;
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
  }
}
.layout-footer-link {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
}
.layout-footer-author {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  i {
    font-size: 20px;
    margin-right: 3px;
  }
}
.layout-footer-note {
  color: #fff;
  font-size: 12px;
  margin-bottom: 2px;
  font-weight: 600;
}
.layout-main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 105px);
  overflow-y: auto;
}
.layout-header-login-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: -7px 0 2px 0;
}
