@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.hidden {
  display: none !important;
}
// ETODO: Separate administration styles and include them only on administration pages
@import "components/variables";
@import "components/animations";
@import "components/components";
@import "components/popup";
@import "components/table";
@import "layout";
@import "administration/layout";
@import "homepage/homepage";
@import "quiz/quiz";
@import "login/login";
@import "profile/profile";
@import "administration/users/users";
