@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif; }

.hidden {
  display: none !important; }

.anim-slide-in-up {
  animation-name: anim-slide-in-up;
  animation-duration: 1s; }

@keyframes anim-slide-in-up {
  0% {
    opacity: 0;
    transform: translate(0, 50px); }
  100% {
    opacity: 1;
    transform: initial; } }

.anim-slide-in-down {
  animation-name: anim-slide-in-down;
  animation-duration: 1s; }

@keyframes anim-slide-in-down {
  0% {
    opacity: 0;
    transform: translate(0, -50px); }
  100% {
    opacity: 1;
    transform: initial; } }

.anim-slide-out-up-absolute {
  max-width: calc(100vw - 50px);
  animation-name: anim-slide-out-up-absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes anim-slide-out-up-absolute {
  0% {
    opacity: 1;
    transform: initial;
    position: absolute; }
  100% {
    opacity: 0;
    transform: translate(0, -50px);
    position: absolute;
    visibility: hidden; } }

.anim-slide-out-up {
  animation-name: anim-slide-out-up;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes anim-slide-out-up {
  0% {
    opacity: 1;
    transform: initial; }
  100% {
    opacity: 0;
    transform: translate(0, -50px); } }

.anim-timer-bar-collapse {
  animation-name: anim-timer-bar-collapse;
  animation-duration: 15s;
  transform-origin: left;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

@keyframes anim-timer-bar-collapse {
  0% {
    transform: scale(1, 1);
    opacity: 1; }
  70% {
    opacity: 1; }
  73% {
    opacity: 0; }
  76% {
    opacity: 1; }
  79% {
    opacity: 0; }
  82% {
    opacity: 1; }
  85% {
    opacity: 0; }
  88% {
    opacity: 1; }
  91% {
    opacity: 0; }
  94% {
    opacity: 1; }
  97% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: scale(0, 1); } }

.otl-box-shadow {
  box-shadow: 0 0 5px #000, 0 0 15px #000; }

.otl-glass {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.popup-wrapper {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999; }

.popup-container {
  display: flex;
  width: 400px;
  max-width: calc(100vw - 50px);
  flex-direction: column-reverse; }

.popup-entry {
  width: 100%;
  min-height: 80px;
  padding: 8px;
  color: #fff;
  margin-top: 25px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; }
  .popup-entry .popup-entry-bar {
    background-color: #000; }
  .popup-entry .popup-entry-title {
    color: #000; }
  .popup-entry.success .popup-entry-bar {
    background-color: #2ecc71; }
  .popup-entry.success .popup-entry-title {
    color: #2ecc71; }
  .popup-entry.error .popup-entry-bar {
    background-color: #f15946; }
  .popup-entry.error .popup-entry-title {
    color: #f15946; }
  .popup-entry.message .popup-entry-bar {
    background-color: #084b83; }
  .popup-entry.message .popup-entry-title {
    color: #084b83; }

.popup-entry-bar {
  height: 70px;
  width: 5px;
  border-radius: 3px;
  align-self: center; }

.popup-entry-close-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; }

.popup-entry-close {
  width: 40px;
  height: 40px;
  color: #084b83;
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup-entry-close:hover {
    color: #ff88c4; }

.popup-entry-content {
  width: calc(100% - 70px);
  padding: 5px 0; }

.popup-entry-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 2px; }
  .popup-entry-title i {
    margin-right: 3px;
    width: 22px; }

.popup-entry-text {
  color: #000;
  font-weight: 600;
  margin-left: 30px; }

.popup-entry-bar-shrink {
  animation-name: popup-entry-bar-shrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; }

@keyframes popup-entry-bar-shrink {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 25px 10px; }

.modal-container {
  margin: auto;
  width: 400px;
  max-width: 100%;
  padding: 10px 20px;
  color: #fff;
  background-color: #111827; }

.modal-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }

.modal-close {
  width: 35px;
  height: 25px;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px; }

.modal-title {
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  font-size: 14px;
  font-weight: 600; }

.row {
  display: flex;
  min-height: 40px;
  align-items: center;
  font-weight: 600;
  padding: 0 5px; }
  .row.head {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #aaa;
    user-select: none; }
    .row.head .tab {
      padding: 7px 3px; }
  .row:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.25); }

.tab {
  padding: 5px 3px; }

.tab-10 {
  width: 10%; }

.tab-15 {
  width: 15%; }

.tab-30 {
  width: 30%; }

.tab-40 {
  width: 40%; }

body {
  overflow: hidden;
  width: 100vw; }

.layout-header,
.layout-footer {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px #000, 0 0 20px #000; }

.layout-header-main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #084b83;
  height: 60px;
  color: #fff; }

.layout-header-site-navigation {
  display: flex;
  align-items: center;
  height: 100%; }

.layout-header-logo {
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px; }

.layout-header-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.2s;
  width: 100px; }
  .layout-header-link i {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .layout-header-link:hover {
    background-color: #0b66b3; }
  .layout-header-link.layout-header-login {
    background-color: #ff66b3; }
    .layout-header-link.layout-header-login:hover {
      background-color: #ff88c4; }

.layout-main {
  width: 100%;
  text-shadow: 0 0 5px #000, 0 0 15px #000;
  color: #fff;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 105px);
  overflow-y: auto; }

.layout-footer {
  width: 100%;
  height: 45px;
  background-color: #084b83;
  display: flex;
  align-items: center; }
  .layout-footer > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%; }

.layout-footer-link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  display: flex; }
  .layout-footer-link i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
    width: 18px;
    height: 18px; }

.layout-footer-author {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px; }
  .layout-footer-author i {
    font-size: 20px;
    margin-right: 3px; }

.layout-footer-note {
  color: #fff;
  font-size: 12px;
  margin-bottom: 2px;
  font-weight: 600; }

.layout-header-login-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: -7px 0 2px 0; }

.layout-header-logo-mobile {
  display: none; }

.layout-footer-mobile-icon {
  display: none !important; }

@media screen and (max-width: 1099px) {
  .layout-footer {
    flex-wrap: wrap;
    overflow-y: auto; }
    .layout-footer > div {
      width: 50%;
      height: 45px;
      padding: 10px 0;
      justify-content: center; }
  .layout-footer-link {
    font-size: 12px; }
  .layout-footer-mobile-icon {
    display: flex !important;
    position: absolute;
    left: 5px;
    width: 20px !important;
    color: #fff;
    font-size: 18px;
    cursor: pointer; }
    .layout-footer-mobile-icon.down {
      top: 0; }
    .layout-footer-mobile-icon.up {
      top: 45px; }
  .layout-header-link {
    width: 80px; }
  .layout-header-logo {
    display: none; }
  .layout-header-logo-mobile {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-decoration: none; } }

.a-layout-main {
  color: #fff;
  background-color: #374151;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  overflow-y: auto; }
  .a-layout-main .left {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111827;
    width: 75px;
    height: 100%;
    border-right: 1px solid #374151; }
  .a-layout-main .right {
    width: calc(100% - 75px);
    padding: 25px; }

.a-menu-button {
  display: flex;
  width: 100%;
  height: 75px;
  cursor: pointer;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  transition: color 0.2s;
  text-decoration: none; }
  .a-menu-button:hover {
    color: #349fb9; }

.a-menu-logo {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  background-color: #084b83; }

.a-header {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px; }

.a-breadcrumbs {
  margin-top: -10px; }

.a-breadcrumb {
  color: #aaa;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase; }

.a-breadcrumb-arrow {
  width: 30px;
  font-size: 20px;
  line-height: 0;
  position: relative;
  top: 2px;
  display: inline-block;
  text-align: center;
  color: #aaa; }

.a-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.a-actions {
  width: 300px;
  padding: 25px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  background-color: #111827;
  color: #fff; }

.a-content {
  width: calc(100% - 300px);
  padding-bottom: 25px; }

.a-action-header {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #42bfdd;
  margin-bottom: 12px;
  display: block; }

.a-action-input {
  width: 100%;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 10px;
  background-color: #374151;
  border: 0;
  color: #fff;
  outline: none; }
  .a-action-input::placeholder {
    color: #aaa; }

.a-action-buttons {
  display: flex;
  justify-content: space-between; }
  .a-action-buttons button {
    height: 42px;
    background-color: #374151;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.2s; }
    .a-action-buttons button.active {
      background-color: #42bfdd; }
    .a-action-buttons button:hover {
      background-color: #349fb9; }

.a-action-button-3 {
  width: calc((100% / 3) - 5px); }

.a-action-confirm {
  width: 100%;
  height: 42px;
  text-transform: uppercase;
  border: 0;
  background-color: #7d1d3f;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s; }
  .a-action-confirm:hover {
    background-color: #a13158; }

.a-action-sort-container {
  display: flex;
  justify-content: space-between; }
  .a-action-sort-container select {
    height: 42px;
    padding: 0 5px;
    outline: none; }

.a-action-sort-field {
  width: calc(60% - 7px); }

.a-action-sort-order {
  width: 40%; }

.homepage-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0; }

.homepage-container {
  width: 850px;
  display: flex;
  justify-content: space-between;
  color: #fff; }
  .homepage-container .left {
    width: 400px;
    text-align: center;
    padding-bottom: 125px; }
  .homepage-container .right {
    width: 400px;
    padding-top: 125px; }

.homepage-h1 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 30px; }
  .homepage-h1 span {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 7px;
    color: #ff66b3; }

.homepage-intro {
  font-size: 18px;
  margin-bottom: 15px; }
  .homepage-intro:last-of-type {
    margin-bottom: 0; }

.homepage-scoreboard {
  text-align: center;
  padding: 15px 25px; }

.homepage-scoreboard-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px; }

.homepage-scoreboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  .homepage-scoreboard-row:last-of-type {
    margin-bottom: 0; }

.homepage-scoreboard-person {
  display: flex;
  align-items: center; }
  .homepage-scoreboard-person img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #000; }

.homepage-scoreboard-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: center; }

.homepage-scoreboard-score {
  font-size: 18px;
  font-weight: 600; }

.homepage-scoreboard-navigation-dot {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px #000, 0 0 15px #000;
  cursor: pointer;
  transition: background-color 0.2s; }
  .homepage-scoreboard-navigation-dot.active {
    background-color: #ff66b3;
    box-shadow: 0 0 5px #ff66b3, 0 0 15px #000; }

@media screen and (max-width: 899px) {
  .homepage-container {
    width: 100%;
    padding: 25px;
    flex-direction: column;
    align-items: center; }
    .homepage-container .left,
    .homepage-container .right {
      max-width: 100%; }
    .homepage-container .left {
      padding: 0; }
    .homepage-container .right {
      padding-top: 25px; }
  .homepage-h1 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px; }
    .homepage-h1 span {
      font-size: 32px;
      margin-top: 0; } }

.quiz-wrapper {
  width: 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 25px 0; }

.quiz-container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 600px; }

.quiz-h1 {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 25px; }
  .quiz-h1 span {
    font-size: 48px;
    line-height: 48px;
    margin-top: 5px;
    color: #ff66b3; }

.quiz-explanation {
  width: 420px;
  font-size: 18px;
  margin-bottom: 15px; }

.quiz-start-button {
  margin: 20px auto;
  width: 200px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  background-color: #ff66b3;
  transition: background-color 0.2s;
  border: 0;
  display: block; }
  .quiz-start-button:hover {
    background-color: #ff88c4; }

.quiz-question-question {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 50px; }

.quiz-question-container {
  width: 100%; }

.quiz-question-answers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.quiz-question-answer {
  width: 48%;
  min-height: 60px;
  font-size: 18px;
  cursor: pointer;
  background-color: #084b83;
  color: #fff;
  font-weight: 600;
  border: 0;
  transition: background-color 0.2s;
  padding: 10px;
  text-shadow: 0 0 5px #000, 0 0 15px #000; }
  .quiz-question-answer:hover {
    background-color: #0b66b3; }
  .quiz-question-answer:first-of-type, .quiz-question-answer:nth-of-type(2) {
    margin-bottom: 25px; }

.quiz-question-timer {
  width: 100%;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.5); }

.quiz-question-timer-bar {
  width: 100%;
  height: 100%;
  background-color: #ff66b3; }

.quiz-question-finish-header {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 5px; }

.quiz-question-finish-drumroll {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px; }

.quiz-question-finish-score {
  font-size: 120px;
  line-height: 120px;
  font-weight: 900;
  margin-bottom: 15px; }
  .quiz-question-finish-score span {
    margin: 0 20px; }

.quiz-question-finish-cheer {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px; }

.quiz-question-finish-share-container {
  padding: 25px; }

.quiz-question-finish-link-container {
  margin: 35px auto 0 auto;
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center; }

.quiz-question-finish-link-link {
  width: calc(100% - 50px);
  height: 50px;
  border: 2px solid #ff66b3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  overflow: hidden; }

.quiz-question-finish-link-copy {
  width: 50px;
  height: 50px;
  background-color: #ff66b3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.2s; }
  .quiz-question-finish-link-copy:hover {
    background-color: #ff88c4; }

.quiz-saved-owner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  text-decoration: none; }

.quiz-saved-owner-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 15px; }

.quiz-saved-owner-name {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  max-width: 300px; }

.quiz-question-finish-container {
  max-width: 100%; }

@media screen and (max-width: 649px) {
  .quiz-container {
    width: 100%;
    padding: 0 25px; }
  .quiz-explanation {
    width: 100%; }
  .quiz-question-answers {
    margin-bottom: 15px; }
  .quiz-question-answer {
    width: 100%;
    margin-bottom: 15px !important;
    font-size: 16px;
    min-height: 40px; }
  .quiz-question-question {
    margin-bottom: 15px;
    font-size: 24px; }
  .quiz-question-finish-score {
    font-size: 90px;
    line-height: 90px; }
    .quiz-question-finish-score span {
      margin: 0 15px; } }

.login-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px; }

.login-container {
  width: 800px;
  display: flex;
  justify-content: space-between; }

.login-card {
  width: 375px;
  padding: 15px 15px 30px 15px;
  text-align: left; }

.login-header {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px; }

.login-label {
  font-weight: 700;
  display: block;
  margin-bottom: 10px; }

.login-input {
  width: 100%;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 0;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  outline: none;
  padding: 0 0 0 10px;
  color: #fff;
  margin-bottom: 15px; }

.login-button {
  margin: 25px auto 0 auto;
  display: block;
  width: 200px;
  height: 42px;
  cursor: pointer;
  background-color: #ff66b3;
  color: #fff;
  font-weight: 900;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  transition: background-color 0.2s; }
  .login-button:hover {
    background-color: #ff88c4; }

@media screen and (max-width: 849px) {
  .login-container {
    flex-wrap: wrap;
    width: 100%; }
    .login-container .left {
      margin-bottom: 25px; }
  .login-card {
    width: 100%; } }

.profile-container {
  padding: 25px 0;
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between; }

.profile-menu-wrapper {
  width: 175px;
  position: relative; }

.profile-menu-container {
  position: fixed;
  max-height: calc(100vh - 155px);
  width: 175px;
  overflow-y: auto; }

.profile-data-container {
  width: 600px;
  text-align: left; }

.profile-menu-image {
  width: 175px;
  height: 175px;
  border: 3px solid #000;
  margin: 0 auto 10px auto;
  border-radius: 50%; }

.profile-menu-username {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 15px; }

.profile-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s, color 0.2s; }
  .profile-menu-link.active {
    background-color: #084b83; }
    .profile-menu-link.active:hover {
      background-color: #0b66b3; }
  .profile-menu-link:hover {
    background-color: rgba(0, 0, 0, 0.75); }

.profile-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.profile-stats-entry {
  width: 290px;
  height: 200px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards; }
  .profile-stats-entry:first-of-type {
    margin-bottom: 20px; }

.profile-stats-stat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 900; }

.profile-quiz-history {
  opacity: 0;
  animation-fill-mode: forwards;
  padding: 15px; }

.profile-quiz-history-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #777;
  font-weight: 600;
  margin-bottom: 5px;
  padding-bottom: 3px; }
  .profile-quiz-history-entry:last-of-type {
    border: 0;
    margin: 0;
    padding: 0; }

.profile-quiz-history-date {
  font-size: 12px; }

.profile-quiz-history-points {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer; }
  .profile-quiz-history-points i {
    color: #42bfdd;
    margin-left: 3px; }

.profile-quiz-history-load {
  display: flex;
  justify-content: center;
  padding: 8px 0 5px 0;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  font-size: 14px;
  align-items: center; }
  .profile-quiz-history-load i {
    margin-left: 7px;
    position: relative;
    top: -1px; }

.profile-image-container {
  padding: 15px; }

.profile-image-container-header {
  margin-bottom: 15px; }

.profile-image-select-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 465px;
  overflow-y: auto; }

.profile-image-select-entry {
  width: 130px;
  height: 130px;
  margin: 0 8px 8px 0;
  cursor: pointer;
  transition: border 0.2s;
  position: relative; }
  .profile-image-select-entry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #000;
    border-radius: 50%; }
  .profile-image-select-entry:hover img {
    border: 3px solid #ff66b3; }
  .profile-image-select-entry:hover .profile-image-select-description {
    display: block; }
  .profile-image-select-entry:nth-of-type(4n) {
    margin-right: 0; }

.profile-image-select-description {
  position: absolute;
  top: 135px;
  width: 100%;
  left: 0;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
  z-index: 2;
  display: none; }

.profile-quiz-trouble-message {
  text-align: center;
  font-weight: 600;
  color: #ff66b3; }

.profile-section-text {
  font-weight: 900;
  margin: 20px 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ccc;
  user-select: none; }

.profile-image-select-description-mobile {
  display: none; }

@media screen and (max-width: 849px) {
  .profile-container {
    display: block;
    padding: 25px;
    width: 100%; }
  .profile-menu-wrapper {
    width: 100%; }
  .profile-menu-container {
    position: relative;
    max-height: initial;
    width: 100%; }
  .profile-menu-image {
    width: 125px;
    height: 125px; }
  .profile-menu-link {
    width: 200px;
    margin: 0 auto 10px auto; }
  .profile-data-container {
    width: 100%; }
  .profile-stats-entry {
    width: 100%;
    margin-bottom: 20px !important;
    height: 150px; }
    .profile-stats-entry:last-of-type {
      margin-bottom: 0 !important; }
  .profile-stats-stat {
    font-size: 45px;
    top: 55%; }
  .profile-image-select-entry {
    width: 130px;
    height: auto;
    padding: 0 15px;
    margin: 0 5px 10px 0;
    border: 0; }
    .profile-image-select-entry:hover {
      border: 0; }
    .profile-image-select-entry img {
      border-radius: 50%;
      border: 3px solid #000;
      height: 100px; }
  .profile-image-select-container {
    position: absolute;
    flex-wrap: initial; }
  .profile-image-container {
    position: relative;
    height: 200px;
    overflow-x: auto; }
  .profile-image-select-description {
    display: none !important; }
  .profile-image-select-description-mobile {
    display: block;
    font-size: 12px;
    line-height: 12px;
    height: 55px;
    overflow-y: auto; } }

.profile-quiz-add {
  padding: 15px; }

.profile-label {
  display: block;
  margin-bottom: 10px; }

.profile-input-text {
  width: 100%;
  height: 40px;
  background-color: rgba(8, 75, 131, 0.5);
  border: 0;
  outline: none;
  color: #fff;
  border-radius: 10px;
  padding: 0 12px;
  font-size: 18px; }

.profile-quiz-add-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
  .profile-quiz-add-flex > div {
    width: 48%; }

.profile-button-submit {
  display: block;
  margin: 30px 0 0 auto;
  height: 40px;
  padding: 0 25px;
  background-color: #084b83;
  color: #fff;
  border: 0;
  transition: background-color 0.2s;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer; }
  .profile-button-submit:hover {
    background-color: #0b66b3; }

@media screen and (max-width: 599px) {
  .profile-quiz-add-flex {
    margin-top: 0;
    display: block; }
    .profile-quiz-add-flex > div {
      width: 100%; }
  .profile-quiz-add-input {
    margin-bottom: 15px; }
  .profile-quiz-add-submit {
    margin-top: 15px; } }

.profile-password-container {
  padding: 15px; }

.profile-not-public {
  margin: 50px auto 50px auto;
  width: 400px;
  max-width: calc(100% - 30px);
  padding: 30px 15px; }
  .profile-not-public i {
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px; }

.profile-qd-row {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #374151; }

.profile-qd-question {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 6px; }

.profile-qd-response {
  font-size: 14px;
  line-height: 16px; }
  .profile-qd-response.correct {
    color: #2ecc71; }
  .profile-qd-response.wrong {
    color: #f15946; }
  .profile-qd-response span {
    font-weight: 700; }

.profile-qd {
  display: flex;
  flex-direction: column-reverse; }

.profile-qd-top {
  margin-bottom: 25px; }

.profile-qd-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.profile-qd-link-label {
  font-size: 12px;
  font-weight: 700; }

.profile-qd-link {
  word-wrap: break-word;
  color: #ff66b3;
  font-size: 14px;
  font-weight: 700; }

.a-users-list-username {
  display: flex;
  align-items: center; }

.a-users-list-photo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #fff;
  object-fit: cover;
  margin-right: 10px; }

.a-users-list-details {
  color: #fff;
  padding: 3px 30px;
  display: inline-block; }
