<label class="profile-label" for="profile-quiz-add-question">
    Treść pytania:
</label>
<input id="profile-quiz-add-question" class="profile-input-text profile-quiz-add-input"/>
<div class="profile-quiz-add-flex">
    <div>
        <label class="profile-label" for="profile-quiz-add-answer-1">
            Poprawna odpowiedź:
        </label>
        <input id="profile-quiz-add-answer-1" class="profile-input-text profile-quiz-add-input"/>
    </div>
    <div>
        <label class="profile-label" for="profile-quiz-add-answer-2">
            Błędna odpowiedź:
        </label>
        <input id="profile-quiz-add-answer-2" class="profile-input-text profile-quiz-add-input"/>
    </div>
</div>
<div class="profile-quiz-add-flex">
    <div>
        <label class="profile-label" for="profile-quiz-add-answer-3">
            Błędna odpowiedź:
        </label>
        <input id="profile-quiz-add-answer-3" class="profile-input-text profile-quiz-add-input"/>
    </div>
    <div>
        <label class="profile-label" for="profile-quiz-add-answer-4">
            Błędna odpowiedź:
        </label>
        <input id="profile-quiz-add-answer-4" class="profile-input-text profile-quiz-add-input"/>
    </div>
</div>
<button id="profile-quiz-add-submit" class="profile-button-submit otl-box-shadow profile-quiz-add-submit">Prześlij
    pytanie
</button>