<h1 class="homepage-h1">Witaj w<br/><span>OneTrickLeague</span>
</h1>
<p class="homepage-intro">Pierwszym takim miejscu w internecie, które pozwoli Ci udowodnić swoje mistrzostwo w
    znajomości League of Legends.</p>
<p class="homepage-intro">Przed przejściem do zabawy możesz utworzyć konto, aby zapisywać swoje postępy, lub zagrać bez
    logowania (zupełnie za darmo!)</p>
<p class="homepage-intro">Wybierz interesującą Cię opcję w menu u góry (wkrótce pojawi się ich więcej) i... baw się
    dobrze!</p>
