.header-navigation {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-logo {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}
.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 20%;
  height: 100%;
  flex-direction: column;
  transition: background-color 0.12s;
  i {
    font-size: 26px;
    margin-bottom: 6px;
  }
  span {
    font-size: 12px;
    font-weight: 700;
  }
}
.header-small {
  color: #fff;
  &:hover {
    background-color: #8e44ad;
  }
}
.header-big {
  background-color: #3498db;
  color: #fff;
  i {
    font-size: 32px;
    margin-bottom: 5px;
  }
  span {
    font-size: 16px;
  }
  &:hover {
    background-color: #2980b9;
  }
}
