{% extends 'base.html.twig' %}

{% block body %}
	<div class="layout-center">
		<header class="layout-block layout-header">{{ include('header/header.html.twig') }}</header>
		<main class="layout-block layout-main"></main>
		<footer class="layout-block layout-footer">{{ include('footer/footer.html.twig') }}</footer>
	</div>
{% endblock %}
