<div class="profile-password-container otl-glass anim-slide-in-up">
    <label class="profile-label" for="old-password">
        Obecne hasło:
    </label>
    <input type="password" id="old-password" class="profile-input-text mb-15"/>
    <label class="profile-label" for="new-password">
        Nowe hasło:
    </label>
    <input type="password" id="new-password" class="profile-input-text mb-15"/>
    <label class="profile-label" for="repeat-password">
        Powtórz nowe hasło:
    </label>
    <input type="password" id="repeat-password" class="profile-input-text"/>
    <button id="submit-password" class="profile-button-submit otl-box-shadow">Zmień hasło</button>
</div>
