<p class="profile-section-text anim-slide-in-up">Zmień zdjęcie profilowe:</p>
{{ include('profile/section/profile/_icon.html.twig') }}
<p class="profile-section-text anim-slide-in-up">Zmień hasło:</p>
{{ include('profile/section/profile/_password.html.twig') }}

{# ETODO: This #}
{# <p class="profile-section-text anim-slide-in-up">Prywatność profilu:</p>
<p>To be done. It will determine if account shows up on quizsaved and also if strangers can display this profile.</p> #}
