$dark-blue: #084b83;
$dark-blue-hover: #0b66b3;
$dark-blue-opacity: rgba(8, 75, 131, 0.5);
$light-blue: #42bfdd;
$light-blue-hover: #349fb9;
$dark-pink: #7d1d3f;
$dark-pink-hover: #a13158;
$light-pink: #ff66b3;
$light-pink-hover: #ff88c4;
$light-grey: #374151;
$dark-grey: #111827;

$green: #2ecc71;
$red: #f15946;
$white: #f0f6f6;
