.homepage-wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
.homepage-container {
  width: 850px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  .left {
    width: 400px;
    text-align: center;
    padding-bottom: 125px;
  }
  .right {
    width: 400px;
    padding-top: 125px;
  }
}
.homepage-h1 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 30px;
  span {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    margin-top: 7px;
    color: $light-pink;
  }
}
.homepage-intro {
  font-size: 18px;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.homepage-scoreboard {
  text-align: center;
  padding: 15px 25px;
}
.homepage-scoreboard-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}
.homepage-scoreboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.homepage-scoreboard-person {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #000;
  }
}
.homepage-scoreboard-navigation {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.homepage-scoreboard-score {
  font-size: 18px;
  font-weight: 600;
}
.homepage-scoreboard-navigation-dot {
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px #000, 0 0 15px #000;
  cursor: pointer;
  transition: background-color 0.2s;
  &.active {
    background-color: $light-pink;
    box-shadow: 0 0 5px $light-pink, 0 0 15px #000;
  }
}
