{% extends 'administration/layout.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block aBreadcrumbs %}
    <a href="{{ path('administration_dashboard') }}" class="a-breadcrumb">Dashboard</a>
{% endblock %}

{% block aTitle %}Witaj,
    {{ app.user.username }}!
{% endblock %}
